div {
    display: inline-block;
    }
 
    .header {
        overflow: hidden;
        background-color: #424141;
        padding: 0px 5px;
        width:100%;
        color: white;
        height: 35px;
       }
      
      
      
      
       .header a {
       
       color: rgb(255, 255, 255);
       text-align: center;
       padding: 12px;
       text-decoration: none;
       font-size: 18px; 
       line-height: 25px;
       border-radius: 2px;
       }
       
        .header a:hover {
          background-color: rgb(197, 11, 11);
          color: rgb(0, 0, 0);
          
          }
      
        .header a.active {
          background-color: rgb(197, 11, 11);
         
          }